<!DOCTYPE html>
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Imagem Para Status
        include layouts/default-css-and-js.pug
    body
        header
            include layouts/header.pug
        div.container.text-center
            div(style="margin-top:10%")
                i(class="fas fa-exclamation-circle fa-10x")
                p Ops! Parece que o link que você tentou acessar não existe mais ou mudou de endereço.
    include layouts/footer.pug