<!DOCTYPE html>
html(lang="pt-br" style="height:100%")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        <title>Imagens Para Status - Diversas imagens pra você compartilhar :D</title>
        include layouts/default-css.pug
    body(style="height:100%")
        header
            include layouts/header.pug
        div.container.text-center.margin-top-1pct(style="height:79%")
            div(style="padding-top:10%")
                i(class="fas fa-exclamation-circle fa-10x")
                p Ops! Parece que o link que você tentou acessar não existe mais ou mudou de endereço.
                a.btn.bg-azul-2.text-white(href="/"): <i class="fas fa-home"></i> Página Inicial
        include layouts/footer.pug