<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Escreva na Imagem</title>
    style(type="text/css").
        a:hover { 
            background-color: yellow;
        }
    include layouts/default-css-and-js.pug
    
</head>

<body>
    include layouts/header.pug
    if(images)
        .container
            .row
                .col-md-6
                    each image in images
                        if(image.enabled)
                            img(src=`images/edited-images/${image.fileName}`, alt="", class="img-thumbnail rounded mx-auto")
    else 
        p.bg-warning Nenhuma imagem encontrada.
</body>

</html>