<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Imagem Para Status</title>
    style(type="text/css").
        a:hover { 
            background-color: yellow;
        }
    include layouts/default-css-and-js.pug
    
</head>

<body>
    header
        include layouts/header.pug
    if(images)
        .container-fluid
            .row
                .offset-md-2.col-md-8
                    each image in images
                        if(image.enabled)
                            div.card
                                div.card-body
                                    p.blockquote
                                        img(src=`images/original-images/${image.fileName}`, alt=`${image.phrase}`, class="img-fluid")
    else 
        p.bg-warning Nenhuma imagem encontrada.
</body>

</html>