<!DOCTYPE html>
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Imagens Para Status
        include layouts/default-css-and-js.pug
    body
        include layouts/header.pug
        .container
            .row(class="margin-top-1pct")
                <div class="card page col-md-12">
                    .text-center(class="margin-bottom-1pct")
                        h1 Política de Privacidade
                    <h2>Termos de uso e Política de Privacidade</h2>
                    <p>O Images Para Status recebe e mantém informações de seu browser nos nossos servidores, incluindo seu IP ou endereço de referência e a página que você procurou. Além desta informação, a única outra informação pessoal que nós coletamos sobre você é a que nos for fornecida em nossos formulários online. O Imagens Para Status será a única detentora desta informação. Esta informação somente será usada para nosso acompanhamento estatístico do número de visitas.</p>
                    <p>O Imagens Para Status usa cookies e outras tecnologias para melhorar a sua experiência on-line e para saber como você usa nossos serviços, com a finalidade de melhorar a qualidade deles.</p>
                    <p>Usamos empresas de publicidade de terceiros para veicular anúncios durante a sua visita ao nosso website. Essas empresas podem usar informações (que não incluem o seu nome, endereço, endereço de e-mail ou número de telefone) sobre suas visitas a este e a outros websites a fim de exibir anúncios relacionados a produtos e serviços de seu interesse.</p>
                    <h2>Anúncios Google Adsense</h2>
                    <p>O Google, como fornecedor de terceiros, utiliza cookies para exibir anúncios no seu site.<br>
                    Com o cookie DART, o Google pode exibir anúncios para seus usuários com base nas visitas feitas aos seus e a outros sites na Internet.<br>
                    Os usuários podem desativar o cookie DART visitando a Política de privacidade da rede de conteúdo e dos anúncios do Google.</p>
                </div>
        include layouts/footer.pug