<!DOCTYPE html>
html(lang="pt-br")
    head
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134144408-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-134144408-3');
        </script>
        <meta name="google-site-verification" content="kTwj78wU3R213eGU9-WNxlu6US_diikzFl_aP78IH7o" />
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        <title>Imagens Para Status - Sobre esta página</title>
        include layouts/default-css.pug
    body
        include layouts/header.pug
        .container
            .row(class="margin-top-1pct")
                .col-md-9
                    <div class="card page">
                        .col-md-12
                            .text-center(class="margin-bottom-1pct")
                                h1.text-white Sobre
                            <p>O Imagens Para Status foi criado com o objetivo de fornecer imagens para ser compartilhadas em redes sociais.</p>
                            <p>Aqui você encontra diversas imagens com frases escritas para compartilhar nas suas redes sociais.</p>
                            <p>Todos os dias publicamos novas imagens.</p>
                </div>
                .col-md-3
                    if(categories)
                        <ul class="list-group">
                            li.list-group-item.bg-azul-2.text-white.text-center Categorias
                            for category in categories
                                li.list-group-item: a(href=`/${category.category}`) #{category.category} 
                        </ul>
        include layouts/footer.pug