<!DOCTYPE html>
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        include layouts/default-css-and-js.pug
        title Document
    body
        header
            include layouts/header.pug
        .container
            h1 Upload de Imagens
            if(message.success == true)
                p.bg-success #{message.message}
            else
                p.bg-danger #{message.message}
            form(action="/images", method="post", enctype="multipart/form-data")
                .form-group
                    label(for="image") Upload de Imagem
                    input(type="file", name="image", class="form-control-file", required)
                .form-group
                    label(for="phrase") Frase
                    input(type="text", name="phrase", class="form-control",  required)
                .form-group
                    label(for="") Categoria
                    input(type="text", class="form-control", name="category",  required)
                button(type="submit", class="btn btn-primary", value="Upload") Enviar