<link rel="stylesheet" href="/css/bootstrap-reboot4.3.1.min.css">
<link rel="stylesheet" href="/css/bootstrap4.3.1.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/solid.css" integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/brands.css" integrity="sha384-BKw0P+CQz9xmby+uplDwp82Py8x1xtYPK3ORn/ZSoe6Dk3ETP59WCDnX+fI1XCKK" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap4.3.1.min.js"></script>
<link rel="shortcut icon" type="image/png" href="/images/favicon.ico"/>
style(type="text/css").
    .margin-top-1pct { margin-top : 1% }
    .margin-bottom-1pct { margin-top : 1% }
    .bg-azul { background-color: #5EC2D6 }
    .bg-azul-2 { background-color: #58B6CC }
    body { background: #dfe3ee }
    .hover-white:hover * { color: white }
    h1 { text-shadow: -1px 0 #58B6CC, 0 1px #58B6CC, 1px 0 #58B6CC, 0 -1px #58B6CC; }