footer(class="footer margin-top-1pct bg-azul")
    .container
        .row
            .col-md-6
                div.text-white
                    <p>© 2019 - 2019 Todos os direitos reservados - Imagens Para Status</p>
                    ul(class="list-group list-group-horizontal")
                        li.list-inline-item: a(href="/privacidade" class="font-weight-bold") Privacidade
                        li.list-inline-item: a(href="/sobre" class="font-weight-bold") Sobre
    include default-js.pug