footer(class="footer margin-top-1pct gradient")
    .container
        .row
            .col-md-6.margin-top-1pct
                div.text-white
                    <p>© 2019 - 2019 Todos os direitos reservados - Imagens Para Status</p>
                    ul(class="list-group list-group-horizontal")
                        li.list-inline-item: a(href="/privacidade" class="font-weight-bold text-white") Privacidade
                        li.list-inline-item: a(href="/sobre" class="font-weight-bold text-white") Sobre
            .col-md-6.margin-top-1pct
                .offset-md-11
                    ul.list-group.list-group-horizontal
                        li.list-inline-item.hover-pinterest
                            a(href="https://br.pinterest.com/imagensparastatus/" target="_blank" class="btn") <i class="fab fa-pinterest fa-3x"></i>
                        li.list-inline-item.hover-facebook
                            a(href="https://www.facebook.com/sigaimagensparastatus/" target="_blank" class="btn") <i class="fab fa-facebook fa-3x"></i>
    <script src="https://cdn.jsdelivr.net/npm/intersection-observer@0.5.1/intersection-observer.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@11.0.5/dist/lazyload.min.js"></script>     
    script(src="/js/popper.min.js")
    include default-js.pug
    include pinitjs.pug
    script(src="/js/clipboard.min.js")
    noscript#deferred-styles
        include facebookSDK.pug
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.2/css/fontawesome.css' integrity='sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+' crossorigin='anonymous')
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/solid.css" integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/brands.css" integrity="sha384-BKw0P+CQz9xmby+uplDwp82Py8x1xtYPK3ORn/ZSoe6Dk3ETP59WCDnX+fI1XCKK" crossorigin="anonymous">
    script.
        var loadDeferredStyles = function() {
            var addStylesNode = document.getElementById("deferred-styles");
            var replacement = document.createElement("div");
            replacement.innerHTML = addStylesNode.textContent;
            document.body.appendChild(replacement);
            addStylesNode.parentElement.removeChild(addStylesNode);
        };
        var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
        window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
        if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
        else window.addEventListener('load', loadDeferredStyles);
        var lazyLoadInstance = new LazyLoad({
            elements_selector: ".lazy"
        });
        $(document).ready(() => {
            var token = window.localStorage.getItem('token');
            if(token){
                $("#adminLink").attr('href', `/admin/dashboard?token=${token}`);
                $("#adminLink").parent().show();
            }
        });