<!DOCTYPE html>
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Imagem Para Status
        include ../layouts/default-css-and-js.pug
    body
        header
            include ../layouts/header.pug
        .container
            if(message)
                div.alert.alert-success #{message}
            h1.text-center Dashboard
            .row
                .col-md-4
                    a(href=`/admin/images?token=${token}`) Imagens
                .col-md-4
                    a(href=`/admin/upload-images?token=${token}`) Upload Images
                .col-md-4
                    a(href="http://") Categorias
                