<!DOCTYPE html>
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        include ../layouts/default-css-and-js.pug
        title Document
    body
        header
            include ../layouts/header.pug
        .container
            h1 Upload de Imagens
            if(message.success)
                div.alert.alert-success #{message.message}
            else if (message.success == 'false')
                div.alert.alert-danger #{message.message}
            form(action="/images", method="post", enctype="multipart/form-data")
                .form-group
                    label(for="image") Upload de Imagem
                    input(type="file", name="image", class="form-control-file", required)
                .form-group
                    label(for="phrase") Frase
                    input(type="text", name="phrase", class="form-control",  required)
                .form-group
                    label(for="") Categoria (Nova categoria)
                    input(type="text", class="form-control", name="category")
                    .form-group
                        label(for="existentCategory") Categorias Existentes
                        select(name="existentCategory", class="form-control")
                            option(value="") Selecione
                            if(categories.length >= 1)
                                for category in categories
                                    option(value=`${category.category}`) #{category.category}
                button(type="submit", class="btn btn-primary", value="Upload") Enviar